{% extends "base.html.twig" %}
{% block content %}
    <section>
        <form method="post" class="search-form">
            <label for="search">Search available domains:</label>
            <input type="text" id="search" name="name" required>
            <input type="submit" name="submitSearch" value="Submit">
        </form>
    </section>
    <hr>
    <section class="domain-list">
        {% for result in results %}
            <article class="domains">
                <p>{{result.domain}} - {{result.status}} - {{ result.price.product.price }} {{ result.price.product.currency }}</p>
                <button type="submit" name="add-to-cart">Add to cart</button>
            </article>
        {% endfor %}
    </section>
{% endblock %}